<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>
        The R community and some of South Africa's most forward thinking companies have come together to bring sat<b>R</b>day back for its fourth edition. This conference provides an opportunity to hear from and network with top Researchers, Data Scientists and Developers from the R community in South Africa and beyond.
    </p>

    <!-- <div class="alert alert-info" data-toggle="collapse" href="#collapseExample" role="alert" aria-expanded="false" aria-controls="collapseExample">
    Click here to see some pictures from Joburg's first satRday in April 2019.
    </div>

      <div class="collapse" id="collapseExample">
            <div class="row photos">
                <div class="col-md-4"><img src="images/2019-photos/discovery.jpg" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/shiny.jpg" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/shiny2.jpg" width="100%"></div>
            </div>
        
            <div class="row photos">
                <div class="col-md-4"><img src="images/2019-photos/omayma.JPG" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/hanjo.jpg" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/panel.JPG" width="100%"></div>
            </div>
        
            <div class="row photos">
                <div class="col-md-4"><img src="images/2019-photos/coffee.JPG" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/lunch2.JPG" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/megan.JPG" width="100%"></div>
            </div>
        
            <div class="row photos">
                <div class="col-md-4"><img src="images/2019-photos/marinus.JPG" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/audience.JPG" width="100%"></div>
                <div class="col-md-4"><img src="images/2019-photos/peter.JPG" width="100%"></div>
            </div>
            
            <h4> <i class="fas fa-camera-retro"></i> : <a href="https://twitter.com/KirstyGarson">Kirsty Lee Garson</a></h4>
      </div> -->

</section>
