<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>
        The R community and some of South Africa's most forward thinking companies have come together to bring sat<b>R</b>day back for its third edition. This conference provides an opportunity to hear from and network with top Researchers, Data Scientists and Developers from the R community in South Africa and beyond.
    </p>
    

    <!-- <p>Some pictures from sat<b>R</b>day March 2018, hosted in Cape Town.</p>

    <div class="row photos">
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
    </div>
    <div class="row photos">
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
        <div class="col-md-4"><img src="" width="100%"></div>
    </div> -->
</section>