<section id="callforpapers">
    <!--<h2>Call for Papers</h2>

    <p>The Call for Papers is now closed. Keep your eyes peeled - a programme is on its way!<p>

     <p><strong>Presentation proposals for sat<b>R</b>day 2020 are now open.</strong></p>
    <p>The deadline for talk submissions is 13 February 2020. </p>

    <p>Feel free to submit one or more proposal(s). We will be considering the following presentation formats:</p>
    <ul>
        <li>Lightning Talk [5 min]</li>
        <li>Standard Talk [20 min]</li>
    </ul>

    <p>What are the benefits of giving a presentation?</p>
    <ul>
        <li>Speakers attend the conference for free!</li>
        <li>Prompt feedback on your proposed presentation.</li>
    </ul>

    <h3>Student Competition</h3>
    <p>Submit a presentation proposal for a ⚡️ lightning talk ⚡️ [5 min].</p>
    <p>Student lightning talks will be judged by a panel on the day, with prizes to be won!</p>
    <p>It might seem overwhelming, but it's great practice and exposure!</p>
    <p>You could talk about how you've used R in your studies, an interesting analysis you've done or a useful R package you just came across. </p>
    
     <div class="alert alert-info" role="alert">
      If you run into any problems while trying to submit your proposal please send us an <A HREF="mailto:satrday.joburg@gmail.com">email</A>.
    </div>

    <div class="center">
        <a class="btn btn-success register" href="https://www.papercall.io/satrday-joburg-2020" target="BLANK">Submit your proposal</a>
    </div> -->

</section>
