<section id="callforpapers">
    <h2>Call for Papers</h2>

<!--     <p>Proposal submissions have not yet opened.</p>  -->


    <p>The deadline for talk submissions is 11 March 2019.</p>

        <p>What are the benefits of giving a presentation?</p>
    <ul>
        <li>Speakers attend the conference for free!</li>
<!--         <li>Financial support may be possible for speakers.</li> -->
        <li>Prompt feedback on your proposed presentation.</li>
    </ul>

    <p>Feel free to submit one or more proposal(s). We will be considering the following presentation formats:</p>
    <ul>
        <li>Tutorial [60 min]</li>
        <li>Lightning Talk [5 min]</li>
        <li>Standard Talk [20 min]</li>
    </ul>

    <div class="alert alert-info" role="alert">
      If you run into any problems while trying to submit your proposal please send us an <A HREF="mailto:satrday.joburg@gmail.com">email</A>.

    </div>

    <!-- <div class="center">
        <a class="btn btn-success register" href="https://www.papercall.io/satrday-johannesburg-2019" target="BLANK">Submit your proposal</a>
    </div> -->

</section>
