<section id="importantdates">
    <h2>Important Dates</h2>

    <p>Working up to the conference on 7 March 2020, these are the most important dates on your calendar:</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th><th>
            </tr>
        </thead>
        <tbody>
       <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#registration">Early Bird Registration Deadline</a></td>
                <td>2020-01-31 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NmVuZGZtb3ZpYjRnNWp0b21xZXM2NG9ha3Agc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#callforpapers">Talk Submission Deadline</a></td>
                <td>2020-02-13 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NHJ1aHBobWpkNzRhNmc5MGltbzhjYWlsNzcgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a></td>
            </tr>
            <tr>
                <td>Official Notification of Submission Acceptance</td>
                <td>2020-02-20 </td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#registration">Registration Deadline</a></td>
                <td>2020-02-29 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NG5xMjRqa2ZrZ2dpbXRyYjA0NnZmNXRwcnUgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://binxiepeterson.github.io/2020-03-07-satRday2020/">Introductory R workshop</a></td>
                <td>2020-03-04/05 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NzUzajNzM2hlNDUwbXBzcmc1aTZ2NjRnMWsgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#buildingShiny">Building Successful Shiny Apps with {golem}</a></td>
                <td>2020-03-06 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjdiYmszMXBxaThubDhpOW9kajQ4Z2Q1bDIgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a> </td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#webScraping">Web Scraping with R</a></td>
                <td>2020-03-06 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NWRldnZwa3Fibm1wdGp1NDZobWgzZ2ZqZzQgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a> </td>
            </tr>
            <tr>
                <td><a target="_blank" href="https://joburg2020.satrdays.org/#packageDev">R Package Development</a></td>
                <td>2020-03-06 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NWRldnZwa3Fibm1wdGp1NDZobWgzZ2ZqZzQgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a> </td>
            </tr>
            <tr>
                <td>Conference</td>
                <td>2020-03-07 <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MTFvOTA3bTQyNjV1MXJrNmdlaG1mOHExNGYgc2F0cmRheS5qb2J1cmdAbQ&amp;tmsrc=satrday.joburg%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a> </td>
            </tr>
        </tbody>
    </table>
</section>
