<section id="importantdates">
    <h2>Important Dates</h2>
    
    <p>Working up to the conference on 6 April 2019, these are the most important dates on your calendar:</p>
    
    <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?title=satRday%20Johannesburg%202019&amp;showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=exegetic.biz_rhi1g3m0tfvcbimg0ag8rml78s%40group.calendar.google.com&amp;color=%23060D5E&amp;ctz=Africa%2FJohannesburg&dates=20190201%2F20190407" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
<!--     <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td>Early-Bird Registration Deadline</td>
                <td>2018-01-20</td>
            </tr>
            <tr>
                <td>Tutorial Submission Deadline</td>
                <td>2018-02-03</td>
            </tr>
            <tr>
                <td>Talk Submission Deadline</td>
                <td>2018-02-03</td>
            </tr>
            <tr>
                <td>Official Notification of Submission Acceptance</td>
                <td>2018-02-10</td>
            </tr>
            <tr>
                <td>Registration Deadline</td>
                <td>2018-03-03</td>
            </tr>
            <tr>
                <td>Data Carpentry Workshop</td>
                <td>2018-03-15/16</td>
            </tr>
            <tr>
                <td>satRday Workshops</td>
                <td>2018-03-16</td>
            </tr>
            <tr>
                <td>Conference</td>
                <td>2018-03-17</td>
            </tr>
        </tbody>
    </table> -->
</section>
