<section id="programme">
   <!--  <h2>Programme</h2> -->
	<!-- <h3>Workshops Programme</h3>

	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Friday 16 March 2018</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:30</td>
		    	<td>9:00</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>
		  	<tr>
		    	<td>9:00</td>
		    	<td>10:30</td>
		    	<td><div class="session-title">First Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:00</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>11:00</td>
		    	<td>12:30</td>
		    	<td>
		    		<div class="session-title">Second Session</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title">Lunch</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>13:30</td>
		    	<td>15:00</td>
		    	<td><div class="session-title">Third Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>15:00</td>
		    	<td>15:30</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>15:30</td>
		    	<td>17:00</td>
		    	<td>
		    		<div class="session-title">Fourth Session</div>
			    </td>
		  	</tr>
	  	</tbody>
	  </table>
 -->
    <!-- <h3>Conference Programme</h3>

    <p>Standard talks are 20 minutes and lightning (<i class="fa fa-flash lightning"></i>) talks are a mere 5 minutes.</p>

    <p>Click on the title for any talk to view the details.</p>
 
	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Saturday 17 March 2018</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:00</td>
		    	<td>8:30</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>

		  			  	<tr>
		    	<td>8:30</td>
		    	<td>8:40</td>
		    	<td><div class="session-title">Welcome</div></td>
		  	</tr>

		  	<tr>
		    	<td>8:40</td>
		    	<td>9:30</td>
		    	<td>

		    		<div class="session-chair"></div>
		    		<div class="session-title"></div>
		    		<div class="session-talk">

		    			<ul>
							<li class="talk"> Title (Speaker) <i class="fa fa-flash lightning"></i>
							<a href="https://youtu.be/dsE3pTQXPs4"><i class="fa fa-youtube-play"></i></a>
								<div class="session-abstract abstract">
								<p> We're often guilty of working in front of our noses, scripting in the 'here and now' and recycling this habit instead of the code. You don't need a seance to glimpse a little of how future work could be spared by generalizing your analysis templates and injecting some dynamism into the flow.</p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>

            <tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title"> Lunch </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>17:10</td>
		    	<td>17:15</td>
		    	<td>
		    		<div class="session-title"> Closing </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>


		</tbody>
  	</table>
	
</section>

 -->
		  	<!-- <tr>
		    	<td>8:00</td>
		    	<td>9:00</td>
		    	<td>
		    		<div class="session-title"> </div>
		    		<div class="session-talk">
		    			<ul>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>	
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr> -->
