<section id="programme">
    <h2>Programme</h2>
    <!-- <div class="alert alert-info" role="alert">
      We can't wait to share the final programme with you, in the meantime here's a rough idea. For planning purposes, below is the draft programme. Final programme to follow.
    </div> -->
	<h3 id="workshopProgramme" >Workshops Programme</h3>
	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Friday 6 March 2020</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:30</td>
		    	<td>9:00</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>
		  	<tr>
		    	<td>9:00</td>
		    	<td>10:30</td>
		    	<td><div class="session-title">First Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:00</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>11:00</td>
		    	<td>12:30</td>
		    	<td>
		    		<div class="session-title">Second Session</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title">Lunch</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>13:30</td>
		    	<td>15:00</td>
		    	<td><div class="session-title">Third Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>15:00</td>
		    	<td>15:30</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>15:30</td>
		    	<td>17:00</td>
		    	<td>
		    		<div class="session-title">Fourth Session</div>
			    </td>
		  	</tr>
	  	</tbody>
	  </table>

    <h3 id="conferenceProgramme" >Conference Programme</h3>

    <p>Standard talks are 20 minutes and lightning (<i class="fa fa-flash lightning"></i>) talks are a mere 5 minutes.</p>

    <p>Click on the title for any talk to view the details.</p>

    <table class="table table-hover">
  		<thead>
  		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Saturday 7 March 2020</th></tr>
  		</thead>
  		<tbody>
  		  	<tr>
  		    	<td>8:00</td>
  		    	<td>8:30</td>
  		    	<td><div class="session-title">Registration</div></td>
  		  	</tr>

  		  			  	<tr>
  		    	<td>8:30</td>
  		    	<td>8:35</td>
  		    	<td><div class="session-title">Welcome</div></td>
  		  	</tr>

  		  	<tr>
  		    	<td>8:35</td>
  		    	<td>10:30</td>
  		    	<td>
  		    		<div class="session-title">First Session</div>
					<div class="session-chair">Bianca Peterson</div>
  		    		<div class="session-talk">
  		    			<ul>
							<li class="talk"> afrimapr: creating reusable R software building blocks for mapping in Africa in 2020 (Anelda van der Walt)
								<a href="https://figshare.com/articles/afrimapr_Creating_reusable_R_building_blocks_for_mapping_data_in_Africa_in_2020/11949087" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>The afrimapr project will create software building blocks in R and learning resources to facilitate the use of spatial data in health (and other) applications in Africa. The project will promote these resources to initiate a community of users and developers to maintain and improve them.</p>
									<p>Co-authors:
										<ul>
											<li>Dr Andy South (Liverpool School of Tropical Medicine, UK)</li>
											<li>Dr Paula  Moraga, (Lancaster University, UK)</li>
											<li>Dr Julie-Anne Tangena (Liverpool School of Tropical Medicine, UK)</li>
											<li>Dr Robin Lovelace (University of Leeds, UK)</li>
											<li>Dr Margareth Gfrerer (Education Strategy Center, Ethiopia)</li>
										</ul>
									</p>
								</div>
							<li class="talk"> The magic of colour: the pursuit to derive several hundred unique palettes (Francois Van Heerden)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/francois_vanheerden/francois_vanheerden.html" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Our final outputs from R will often take on the form of a graph, map, infographic or other relevant visual. These visualisations are not devoid of creative elements. They require colour, and sometimes they require a multitude of custom palettes for the task at hand. How best can these be derived?</p>
								</div>
							<li class="talk"> Easy-peasy plots with {esquisse} (Bianca Peterson) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/Bianca_Peterson.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Do you wish you could drag and drop variables onto X and Y axes and easily map variables? Are you in a hurry (or just plain lazy) to type code by hand? The {esquisse} add-in lets you explore and visualise your data with {ggplot2} interactively and provides the generated code to reproduce the chart!</p>
								</div>
							<li class="talk"> Mapping out African genomics research with sf (Kirsty Lee Garson) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/kirsty_lee_garson.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Advances in our understanding of the human genome have largely been based on European populations. More recently, a number of studies have been investigating African populations, which have a higher degree of genetic diversity. What better way to map them out than with a bit of help from sf?</p>
								</div>
							<li class="talk"> Productivity Hacks with your .Rprofile (Cesaire Tobias) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://github.com/Axiematic/satRday-JHB-2020/blob/master/1st_session/cesaire_tobias.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Have you ever wanted a set of productivity boosting tools to help make your workflow more efficient? Do you ever wonder what anyone does with their .Rprofile? If you answered yes to both these questions then this lightning talk is for you.</p>
								</div>
							<li class="talk"> Use of vtreat for R package and regression modelling for algorithmic financial planning (Anisa Mathura) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/Anisa_Mathura.html" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>My talk focuses on the construction of a generalized additive model (GAM) to relate healthcare service efficiency and operational metrics to clinic profitability (profit per day). My modelling used vtreat for R (John Mount and Nina Zumel) as it made the modelling process and output a tidy-treat!</p>
								</div>
							<li class="talk"> SHAP: Interpreting ML Models with IML (Drikus du Toit)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/Drikus_duToit.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Interpretability is still regarded as one of the main barriers of machine learning. How do we explain a model decision to a client? How do we measure the underlying interactions in a black box model? Let's have a look at Shapley Values as a model agnostic technique for interpreting ML models.</p>
								</div>
							<li class="talk"> purrr beyond map (Hendrik van Broekhuizen)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/1st_session/hendrik_vanbroekhuizen.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>There is so much more to purrr than map(). purrr is a veritable treasure trove of functional awesomeness that can help transform the code you write and what it can do. In this talk, I illustrate what lies beyond map(), how to use it, and why it may be worth exploring purrr's hidden depths.</p>
								</div>
  						</ul>
  					</div>
  			    </td>
			</tr>
			<tr>
				<td>10:30</td>
				<td>11:00</td>
				<td>
					<div class="session-title"> Coffee/Tea </div>
					<div class="session-talk">
					</div>
				</td>
			</tr>	
			<tr>
  		    	<td>11:00</td>
  		    	<td>12:30</td>
  		    	<td>
  		    		<div class="session-title">Second Session</div>
              		<div class="session-chair">Vebashini Naidoo</div>
  		    		<div class="session-talk">
						<ul>
							<li class="talk"> Productionalizing R code using Databricks (Michael Johnson)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/2nd_session/Michael_Johnson.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>One of the most challenging tasks in data science is moving code from a development through to production. Build on top of Apache Spark, Databricks provides streamlined workflows and interactive workspaces that enable collaboration between Data scientists, data engineers and business analysts.</p>
								</div>
							<li class="talk"> Taking R and shiny to production (Gaonyalelwe Maribe)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/4ce69a5fe5e07cbcf3b463f237d32a0f9a9fb763/2nd_session/gaonyalelwe_maribe.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>This talk shows the endless possibilities of R and shiny's capabilities in a production environment using docker and ShinyProxy. In this talk I will demonstrate how to build and deploy a shiny application (statistical ad hoc report) for each user in an isolated docker container on a linux server.</p>
								</div>
							<li class="talk"> <b>Keynote</b>: "prod" is not a four-letter word (Colin Fay)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/2nd_session/colin_fay.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<p style="font-style: italic;">Sponsored by Discovery.</p>
								<div class="session-abstract abstract">
									<p>The idea that R is not a good fit for engineering production software is a catchphrase we hear a lot in the world of data science, and in the software engineering community in general. But the truth is that the R community has been creating tools for building robust software for years—tools that have been proven to be reliable and efficient, making R a legitimate language for production. </p>
									<p>With all the available tooling, the real challenge of sending R to production is not technical—it's all a matter of attitude. In other words, the real challenge is our ability to adopt a software engineering mindset when building tools with R. </p>
									<p>So where do we start our journey to production quality with R? What are these tools that help us building reliable products? How do we think about R with 'deploy to production' in mind? These are the questions, amongst others, that Colin will try to answer during his keynote, which will hopefully help you become more confident about sending R into production.</p>
								</div>
						</ul>
					</div>
  			    </td>
  		  	</tr>	
			<tr>
				<td>12:30</td>
				<td>13:30</td>
				<td>
					<div class="session-title"> Lunch </div>
					<div class="session-talk">
					</div>
				</td>
			</tr>
			<tr>
				<td>13:30</td>
				<td>15:00</td>
				<td>
					<div class="session-title"> Third Session </div>
					<div class="session-chair">Gemma Dawson</div>
					<div class="session-talk">
						<ul>
						  <li class="talk"> Unravelling the Mysteries of Resurrection Plants Using R (Astrid Radermacher)
							<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/3rd_session/astrid_radermacher.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
							  <div class="session-abstract abstract">
								  <p>Resurrection plants are capable of surviving total water loss and prolonged metabolic inactivity in the dry state - plant biltong for years! Once water is available, they miraculously recover within hours. How R they capable of this? Come find out! ;)</p>
							  </div>
						  <li class="talk"> Analysis of the legal frameworks for gender equality and non-discrimination: SDG 5 (Caroline Otiwa)
							<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/3rd_session/Caroline_Akoth.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
							  <div class="session-abstract abstract">
								  <p>According to UN Africa is affected by Culture,Traditions and beliefs in the journey towards achieving SDG 5. There are legal frameworks that have been put In place to ensure that countries get here. This study uses R to conduct a NEP analysis that will show which countries have reached the threshold</p>
							  </div>
						  <li class="talk"> <b>Keynote</b>: Diversity and Inclusion in the R Community (Heather Turner)
							<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/3rd_session/heather_turner.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
							  <div class="session-abstract abstract">
								  <p>In the past few years, the R Community has been making conscious efforts to widen the participation of underrepresented groups. This talk will review some of the initiatives that have contributed to this effort, including Forwards, a task force set up by the R Foundation.</p>
								  <p>A lot of progress has been made and the R Community is now recognized for its inclusiveness. However, there is still room for improvement, particularly in the technical side of the R project (developer meetings, package development, R core development) and in the general user community for specific groups (people living in underserved regions or people with disabilities that affect access). This talk will consider these challenges and discuss some ways we might move forwards to achieve greater equity and inclusion.</p>
							  </div>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>15:00</td>
				<td>15:30</td>
				<td>
					<div class="session-title"> Coffee/Tea </div>
					<div class="session-talk">
					</div>
				</td>
			</tr>
			<tr>
				<td>15:30</td>
				<td>17:00</td>
				<td>
					<div class="session-title"> Fourth Session </div>
					<div class="session-chair">Deveshnie Mudaly</div>
					<div class="session-talk">
						<ul>
							<li class="talk"> Running in circles with OSRM and R (Megan Beckett)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/megan_beckett.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>Visiting a new place on holiday or travelling for work? What can you see from where you’re staying? What are the shortest routes? To answer these questions, you’d probably ordinarily reach for your phone and open up Google Maps. However, as a data scientist, with a specific set constraints and conditions (including having my running shoes on), I want to delve a bit deeper, explore and map out my options. My first tool to reach for is R. Then, the Open Source Routing Machine (OSRM).</p>
									<p>OSRM is a high-performance routing engine for calculating the shortest paths through a road network. These calculations are available via Google Maps. However, queries against a local OSRM server are orders of magnitude faster than Google Maps (and cheaper!). The osrm package for R exposes these routing data to a wide range of potential applications. In this talk I'll show how to easily spin up and provision an OSRM server and use it to solve some interesting spatial optimisation problems in R.</p>
								</div>
							<li class="talk"> Sporadic Retail Inflation (Andrew Collier & Emma Collier) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
							 	<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/04-02/andrew_collier.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>We've been gathering retail pricing data. As an exercise we took a look at how prices change around Valentine's Day and found some interesting things.</p>
								</div>
							<li class="talk"> Willy Wonka’s Chocolate Factory: to predict or not to predict? (Natasha Sing) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/natasha_sing.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>I will use Google Trend data which is like a hidden closet of thoughts, together with Prophet, an open-source library published by Facebook to predict trends in chocolate. </p>
								</div>
							<li class="talk"> Funk MF (Ray Bosman) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/RayBosman_FactorizationMachines.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>A novel demonstration of the Funk FM styled factorization machine popularized by Simon Funk in 2006 (Netflix prize). My intent started off as a recommendation system but evolved into a way to impute pixels into corrupted images from a synthesized matrix.</p>
								</div>
							<li class="talk"> From Pythonista to Rtist (Diana Pholo) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/diana_pholo.pdf" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>As a Pythonista, moving to R for a new job was not the most natural thing. I had to learn so many things! 6 months into R, I would like to share a few things about:</p>
									<ul>
										<li>How Python differs from R</li>
										<li>Which R tools to learn as a beginner Rtist</li>
										<li>Which online resources can help ease the transition</li>
									</ul>
								</div>
							<li class="talk"> sarbR: Interface to the monthly release of the SARB Quarterly Bulletin data (Hanjo Odendaal)
								<a href="https://hanjostudy.github.io/satRday2020/Presentation.html#1" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>At the time of this publication, the SARB still has no easy way of accessing their data through an programmatic interface (API). The package aims to fill this role by curating the data automatically from the SARB, updating a dedicated database and giving access through a simple function.</p>
								</div>
							<li class="talk"> Exploring the Corona outbreak with R (Robert Bennetto)
								<a href="https://rawcdn.githack.com/Axiematic/satRday-JHB-2020/07939b910118109a92f7d19ddea8b30352c03970/4th_session/04-07/main.html" target="BLANK"><i class="fas fa-desktop"></i></a>
								<div class="session-abstract abstract">
									<p>This talk is born out of the observed exponential infection growth of the Corona virus outbreak in China - which was not observed with MERS or SARS. With the underlying data and equipped with R - lets visualise the outbreak, run some simulations and understand the outbreak a little better.</p>
								</div>
						</ul>
					</div>
				</td>
			</tr>	
			<tr>
				<td>17:00</td>
				<td>17:05</td>
				<td>
					<div class="session-title">Closing </div>
					<div class="session-talk">
					</div>
				</td>
			  </tr>
		</tbody>
  	</table>

</section>
