<section id="programme">
    <h2>Programme</h2>
    <!-- <p> We can't wait to share the final programme with you, in the meantime here's a rough idea.</p> -->
    <!-- <div class="alert alert-info" role="alert">
      We can't wait to share the final programme with you, in the meantime here's a rough idea. For planning purposes, below is the draft programme. Final programme to follow.
    </div> -->
	<h3>Workshops Programme</h3>

	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Friday 5 April 2019</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:30</td>
		    	<td>9:00</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>
		  	<tr>
		    	<td>9:00</td>
		    	<td>10:30</td>
		    	<td><div class="session-title">First Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:00</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>11:00</td>
		    	<td>12:30</td>
		    	<td>
		    		<div class="session-title">Second Session</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title">Lunch</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>13:30</td>
		    	<td>15:00</td>
		    	<td><div class="session-title">Third Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>15:00</td>
		    	<td>15:30</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>15:30</td>
		    	<td>17:00</td>
		    	<td>
		    		<div class="session-title">Fourth Session</div>
			    </td>
		  	</tr>
	  	</tbody>
	  </table>

    <h3>Conference Programme</h3>

    <p>Standard talks are 20 minutes and lightning (<i class="fa fa-flash lightning"></i>) talks are a mere 5 minutes.</p>

    <p>Click on the title for any talk to view the details.</p>

    <table class="table table-hover">
  		<thead>
  		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Saturday 6 April 2019</th></tr>
  		</thead>
  		<tbody>
  		  	<tr>
  		    	<td>8:00</td>
  		    	<td>8:30</td>
  		    	<td><div class="session-title">Registration</div></td>
  		  	</tr>

  		  			  	<tr>
  		    	<td>8:30</td>
  		    	<td>8:35</td>
  		    	<td><div class="session-title">Welcome</div></td>
  		  	</tr>

  		  	<tr>
  		    	<td>8:35</td>
  		    	<td>9:45</td>
  		    	<td>

  		    		<div class="session-title">First Session</div>
              <div class="session-chair">Katrin Tirok</div>
  		    		<div class="session-talk">

  		    		<ul>
  							<li class="talk"> Understanding the state of R in South Africa: 2018 in review (Francois Van Heerden) 
								 <!-- <a href="https://www.youtube.com/watch?v=lO-Q0Av3fDY"><i class="fa fa-youtube-play"></i></a> -->
								 <a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/Francois_vanHeerden.html"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>Most of us make use of CRAN daily. It is a central part of the R experience and it also turns out to be a rich source of data! By analysing the downloads from CRAN, we can get a deeper understanding of how R is being used within SA. Are you curious about package trends within SA?</p>
  								</div>
                <li class="talk"> What I learned from running Shiny in production (Luis de Sousa) 
								 <!-- <a href="https://www.youtube.com/watch?v=lO-Q0Av3fDY"><i class="fa fa-youtube-play"></i></a> -->
								 <a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/luis_de_sousa.pdf"<i class="fas fa-desktop"></i></a>
    								<div class="session-abstract abstract">
    								<p>In this talk I share my experience of the do's and don'ts of running Shiny in production. We'll also cover some of the guidance Joe Cheng (original creator of Shiny) gave earlier this year at rstudio::conf 2019.</p>
    								</div>
                <li class="talk"> One-liners: 3 x packages with single-line calls to boost your productivity (Oscar Baruffa) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								 <!-- <a href="https://www.youtube.com/watch?v=A2cf5nFMdjA&t=1s"><i class="fa fa-youtube-play"></i></a> -->
								 <a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/oscar_baruffa.pdf"<i class="fas fa-desktop"></i></a>
      							<div class="session-abstract abstract">
      							<p>1 fun and 2 seriously-fun packages. Who couldn't do with boosting productivity? And in only one line of code! Get a friendly sound notification in your scripts, automate the slog of early EDA, and make sure your dplyr calls aren't silently failing you!</p>
      							</div>
                <li class="talk"> Geo-spatial data visualization in R (Natasha Sing) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								<!-- <a href="https://www.youtube.com/watch?v=kPLGzEWUAHI"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/Natasha_Sing.pdf"<i class="fas fa-desktop"></i></a>
      						<div class="session-abstract abstract">
      						<p>Guess what's the buzzing “V” word these days?</p>
                  <p>Veganism! My talk investigates the growing acceptance of veganism around the world using geospatial visualization of data in R. Leveraging Google's Map and Geocoding API keys in R we can create maps, plot data points and explore the world with fun.</p>
      						</div>
  							 <li class="talk"> The Dota 2 Landscape in R (Vishalin Pillay) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
								 <!-- <a href="https://www.youtube.com/watch?v=JFrlLR41iHo"><i class="fa fa-youtube-play"></i></a> -->
								 <a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/vishalin_pillay.pdf"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>Dota 2 is a massively popular multiplayer online battle arena (MOBA) video game, comparable to strategy games like Chess or Go, but with infinitely more degrees of freedom. Can we use the data wrangling and graphical powers of R to uncover the ever-changing landscape of the professional scene?</p>
    							</div>
                <li class="talk"> Why tidy data matters (Gerard Walsh) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> 
								<!-- <a href="https://www.youtube.com/watch?v=Qkmpp4lDoSI"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/1st_session/GerardWalsh.pdf"<i class="fas fa-desktop"></i></a>
      						<div class="session-abstract abstract">
      						<p>Having your data in a form that is easily interpreted by humans is helpful for machine processing too. Tidy data, where a column of your data is a variable and each row is an observation, allows us to easily understand the data and utilize off-the-shelf tools to manipulate/visualize the data.</p>
      						 </div>
  						</ul>
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>9:45</td>
  		    	<td>10:30</td>
  		    	<td>
				<!--
  		    		<div class="session-title"> Keynote: Danielle Navarro</div>
  		    		<div class="session-sponsor">Sponsor: Rain</div>
  		    		<div class="session-chair">Megan Beckett</div>
  		    		<div class="session-talk">
  							<div class="talk">R for Psychological Science <a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-text="@djnavarro #satRdayJoburg" data-url="https://joburg2019.satrdays.org/" data-related="satRday_ZAF" data-show-count="false">Tweet</a>
  							
  								<div class="session-abstract abstract">
  								<p> Over the last decade R has made substantial inroads as a general purpose tool in psychological science. Once restricted to a small group of highly quantitative methodological researchers, it is now widely used for data analysis, project management, computational modelling, report writing and data collection purposes. In this talk I'll present some of my own experiences teaching R to undergraduate and postgraduate students in psychology, about the impact that tidyverse and related tools have had on the uptake of R within the field, on what we might still be missing, and on the implications that R's wider reach in psychology might have for stronger connections between psychology, machine learning and data science.</p>
  								</div>
  					</div>
				</div> -->
	  		    		<div class="session-title"> Keynote: Omayma Said</div>
  		    		<div class="session-sponsor">Sponsor: Rain</div>
  		    		<div class="session-chair">Gemma Dawson</div>
  		    		<div class="session-talk">
  							<div class="talk">Interpreting Machine Learning Models: Why and How!
								<!-- <a href="https://www.youtube.com/watch?v=lZ3deq52qCk&feature=youtu.be"><i class="fa fa-youtube-play"></i></a></li> -->
								<a href="https://speakerdeck.com/omaymas/interpreting-machine-learning-models-why-and-how"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p> With the increasing adoption of machine learning-based solutions in different domains, the impact on humans is becoming more significant. Systems that use black-box algorithms in crucial areas like health care, employment, politics are getting used more often with the promise of providing higher accuracy. However, this accuracy comes at the cost of interpretability . This introduces a barrier against wider adoption of such algorithms in sensitive areas and raises the skepticism of the impacted individuals. This talk will focus on interpretable machine learning, why it is crucial from technical and ethical perspectives and how to integrate it in our workflows. We will go over some of the R packages that provide interpretations such as {lime} and {iml}, while giving real examples and playing a game!</p>
  								</div>
  					</div>
            </div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>10:30</td>
  		    	<td>11:00</td>
  		    	<td>
  		    		<div class="session-title"> Coffee/Tea </div>
  		    		<div class="session-talk">
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>11:00</td>
  		    	<td>12:15</td>
  		    	<td>
  		    		<div class="session-title">Second Session</div>
  		    		<div class="session-sponsor">Sponsor: Discovery</div>
              <div class="session-chair">Vebashini Naidoo & Emma Collier</div>
  		    		<div class="session-talk">

  		    			<ul>
  							<li class="talk"> Petabytes of data: How to use R at scale (Jeff Fletcher)
								<!-- <a href="https://www.youtube.com/watch?v=BVAO_fINW_g"><i class="fa fa-youtube-play"></i></a> </li> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/2nd_session/Jeff_Fletcher.pdf"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>You have great R programming skills and a laptop that's ready to go, but you're suddenly faced with having to process a trillion rows or a petabyte of JSON. This talk will run through the tools used to process very large data sets for R programmers, whether for data science or machine learning.</p>
  								</div>
  							<li class="talk"> How the cloud changed the way I do analytics and research (Hanjo Odendaal) 
								<!-- <a href="https://www.youtube.com/watch?v=8DDqWjLikNw"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/2nd_session/Hadley_Wickham.pdf"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>When we get into analytics our first real hit of power is estimating a Random Forest using the Titanic dataset. We quickly progress from this in search of more cores and RAM, quickly hitting a wall. Moving your analytics to the cloud is analogous to moving from coffee to cocaine... just WAY cheaper!</p>
  								</div>
                <li class="talk"> A Fiery approach to R web services (Quintin de Kok) 
								<!-- <a href="https://www.youtube.com/watch?v=o8-IuUMG2T8"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/2nd_session/Quintin_DeKok.pdf"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>The final step from modeling to production is almost always the most difficult, specially in the realtime analytics arena. This talk is designed to ease the progression from modeling to realtime prediction/fit using ProjectTemplate and Fiery to build a Docker based prediction web service.</p>
    							</div>
                <li class="talk"> Zindi Competition Platform (Ekow Duker) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> 
								<!-- <a href="https://www.youtube.com/watch?v=NsNJNDV9M7A"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://zindi.africa/about"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>With over 1,600 registered users, Zindi is the largest online Pan- African community of data scientists solving the continent’s most pressing challenges using artificial intelligence and machine learning.</p>
    							</div>
                <li class="talk"> Detecting marine heatwaves (MHWs) by using R-programming (Amieroh Abrahams) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> <i class="fas fa-user-graduate" data-toggle="tooltip" data-placement="top" title="Student"></i>
								<!-- <a href="https://www.youtube.com/watch?v=PRTPGo5BJ1A"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/2nd_session/Amieroh_Abrahams.pdf"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>Anthropologically mediated warming has negatively affected marine and terrestrial ecosystems. This has resulted in consequences for humanity and ecological functioning. Here I will demonstrate the various R packages produced and utilized by South African scientists to detect these extreme events.</p>
    							</div>
  						</ul>
  					</div>
  			    </td>
  		  	</tr>

              <tr>
  		    	<td>12:15</td>
  		    	<td>13:15</td>
  		    	<td>
  		    		<div class="session-title"> Lunch </div>
  		    		<div class="session-talk">
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>13:15</td>
  		    	<td>13:45</td>

            <td>
	  		    		<div class="session-title"> Panel Discussion</div>
  		    		<div class="session-sponsor">Sponsor: Rain</div>
  		    		<div class="session-chair">David Clark</div>
              <div class="session-talk">
                <p>Panel:</p>
                <ul>
                  <li> Danielle Navarro
                  <li> Vebashini Naidoo
                  <li> Retha Langa
                  <li> Peter Kamerman
                  <li> Robert Bennetto     
                </ul>
              </div>
  			    </td>


  		  	</tr>

  		  	<tr>
  		    	<td>13:45</td>
  		    	<td>14:45</td>
  		    	<td>
  		    		<div class="session-title"> Third Session</div>
              <div class="session-chair">Bianca Peterson</div>
  		    		<div class="session-talk">
  		    			<ul>
  							<li class="talk"> Exploring the South African School Directory with R (Megan Beckett)
								<!-- <a href="https://www.youtube.com/watch?v=Bwdxs0YSbRQ"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/3rd_session/megan_beckett.pdf"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>South Africa’s education system is incredibly expansive and diverse. Let’s see what this actually means by taking some seemingly forgotten Excel files from the Department of Education website, improve the school geocoding then create an interactive, exploratory, enlightening map of our schools.</p>
  								</div>
                <li class="talk"> Reference classes: An antidote to complexity (Eckhard Briedenhann & Robert Bennetto)
								<!-- <a href="https://www.youtube.com/watch?v=As90tMhF9Fo"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/TheCoolRob/joburg.satRday.2019/10f125534cd9de6dfc99faa12b6dedc2ca7789e5/presentation/final_presso.html"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>R is a fantastic language for performing vectorised calculations, but implementing complex design patterns can turn into a nightmare when lists and vectors are all you have to work with. We'll provide some templates of how to manage complexity through the S3/S4 class system and showcase the usefulness with some Directed Acyclic Graph (DAG) examples.</p>
    							</div>
                <li class="talk"> YOLO in R (Vongani Maluleke) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> <i class="fas fa-user-graduate" data-toggle="tooltip" data-placement="top" title="Student"></i>
								 <!-- <a href="https://www.youtube.com/watch?v=qNQKX9FFcRU"><i class="fa fa-youtube-play"></i></a> -->
								 <a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/3rd_session/Vongani_Maluleke.pdf"<i class="fas fa-desktop"></i></a>
         					<div class="session-abstract abstract">
         					<p>Object detection is a continuously advancing field with new, better and more complex models being introduced every year, making it hard for an ordinary R-user to keep up. YOLO is one of the best object detection models that an ordinary R-user can implement in 2 lines of R code with no GPU usage.</p>
         					</div>
                <li class="talk"> Three indispensable REGEX hacks (Marinus Louw) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i>
									<!-- <a href="https://www.youtube.com/watch?v=rXsb6t7Uc7c"><i class="fa fa-youtube-play"></i></a> -->
									<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/3rd_session/MarinusLouw.pdf"<i class="fas fa-desktop"></i></a>
      							<div class="session-abstract abstract">
      							<p>Having regular expressions (or REGEX for short) in your tool kit is an essential data science skill which allows you to do complicated text manipulation with minimal effort.</p>
      							</div>
  						</ul>
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>15:00</td>
  		    	<td>15:30</td>
  		    	<td>
  		    		<div class="session-title"> Coffee/Tea </div>
  		    		<div class="session-talk">
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>15:30</td>
  		    	<td>17:10</td>
  		    	<td>
  		    		<div class="session-title">Fourth Session</div>
  		    		<div class="session-sponsor">Sponsor: Vantage</div>
              <div class="session-chair">Amieroh Abrahams</div>
  		    		<div class="session-talk">

  		    			<ul>
  							<li class="talk"> How to write a report using R Markdown (Bianca Peterson) 
  							<!-- <a href="https://www.youtube.com/watch?v=1vMABBTxF8A"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/4th_session/Bianca_Peterson.html#/1"><i class="fas fa-desktop"></i></a>	
								<div class="session-abstract abstract">
  								<p>Learn how to write elegant, fully reproducible reports using R Markdown, with dozens of output formats to choose from, e.g. Word, PDF, HTML. Reports can include both narrative text, tables and figures, with the option of also displaying code chunks. Writing reports have never been this easy!</p>
  								</div>
  							<li class="talk"> EXCELsioR! (Cesaire Tobias)
								<!-- <a href="https://www.youtube.com/watch?v=x11yUJuYkQ0"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/4th_session/cesaire_tobias.pdf"><i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>The ubiquity of spreadsheets as a source of data should be celebrated rather than loathed. The freedom of the gridded blank canvas allows users to create almost unhindered. While this can cause pain for the data-munger it creates opportunities to work with data we otherwise wouldn't have had.</p>
  								</div>
  							<li class="talk"> How to Get Ahead in Advertising (Helge Reikerås) 
								<!-- <a href="https://www.youtube.com/watch?v=IK1olJsyp5E"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/4th_session/helge_reikeras.pdf"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>John Wanamaker said, “half the money I spend on advertising is wasted; the trouble is I don't know which half". The task of data scientists in marketing is finding which half. In this talk we'll discuss models and methods for the so-called multi-channel attribution problem, with implementation in R.</p>
  								</div>
  							<li class="talk"> Extending Power BI with R (Michael Johnson) 
								<!-- <a href="https://www.youtube.com/watch?v=PJEnIH-ZKiA"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/4th_session/Michael_Johnson.pdf"<i class="fas fa-desktop"></i></a>
  								<div class="session-abstract abstract">
  								<p>Power BI is a great tool for self-service BI but lacks some of the advanced analytics capabilities available in other tools. By incorporating R support into the Power BI application Microsoft enables a true hybrid analytics experience.</p>
  								</div>
                <li class="talk"> Deploying a Plumber API with Docker (Andrew Collier) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> 
								<!-- <a href="https://www.youtube.com/watch?v=u63qSWk0lXw"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://datawookie.github.io/talk-plumber-api/plumber-api-lightning.html#1"<i class="fas fa-desktop"></i></a>
    							<div class="session-abstract abstract">
    							<p>Plumber makes it possible to easily transform your R functions into an API. Developing and testing the API locally is simple, but deploying it can be more of a challenge. Docker provides just what you need to ensure that the API is launched in a well defined, stable and isolated environment. These are some of the handiest tools to have in your toolbox!</p>
                  <p>This short talk will show how to:</p>
                  <ul>
                  <li>whip up a quick API by merely decorating your existing R code with comments, then</li>
                  <li>write a simple Dockerfile to provide a runtime environment and finally</li>
                  <li>deploy the API in the cloud.</li>
                  </ul>
                  <br>
                  <p>All of this in the timeframe of a lightning talk. Booya!</p>
    							</div>
                <li class="talk"> Become an animaniac with gganimate (Peter Kamerman) <i class="fa fa-flash lightning" data-toggle="tooltip" data-placement="top" title="Lightning talk"></i> 
								<!-- <a href="https://www.youtube.com/watch?v=iuE58i_rCOE"><i class="fa fa-youtube-play"></i></a> -->
								<a href="https://rawcdn.githack.com/satRdays/johannesburg2019/fccb57b34dd99ba616bd36a98f4e5ffa990eb52c/talks/4th_session/peter_kamerman.pdf"<i class="fas fa-desktop"></i></a>
        					<div class="session-abstract abstract">
        					<p>Who doesn't enjoy a good GIF. I'll give a brief example of how you can bring data to life using gganimate. For my example, I'll illustrate changes in major causes of disability adjusted life years over the past 20 years (using open data).</p>
        					</div>
  						</ul>
  					</div>
  			    </td>
  		  	</tr>

  		  	<tr>
  		    	<td>17:10</td>
  		    	<td>17:15</td>
  		    	<td>
  		    		<div class="session-title"> RStudio Student Lightning Talk Prize & Closing </div>
  		    		<div class="session-talk">
  					</div>
  			    </td>
  		  	</tr>

  		  	<!-- <tr>
  		    	<td>17:30</td>
  		    	<td>19:00</td>
  		    	<td>
  		    		<div class="session-title">Cocktails and Conversation </div>
  		    		<div class="session-talk">
  					</div>
  			    </td>
  		  	</tr> -->


		</tbody>
  	</table>

</section>
