<section id="r_ladies_event">
    <h2>R-Ladies Event</h2>

    <table style="width: 100%; padding-bottom: 2%;">
            <tr>
                <th style="width: 50%;">When: March 5, 17:30 - 19:30</th>
                <th>Where: <a href="https://www.google.com/maps/search/?api=1&query=-26.050480%2C28.024933">Rain</a></th>
            </tr>
    </table>

    <p>Heather Turner will be taking us through: Publishing and Promoting your R Package, and Colin Fay will be talking to us about contributing to the R ecosystem.</p>

    <p>This event, although primarily aimed at women, welcomes all who are interested as it will provide a great opportunity for all current and prospective R users to meet and chat with like-minded people.</p>

    <p> If you are interested in attending similar events in the future please get in contact with us via our <a href="https://www.meetup.com/rladies-johannesburg/"><i class="fab fa-meetup"></i></a> page or our <a href="https://twitter.com/RLadiesJozi"><i class="fab fa-twitter" aria-hidden="true"></i></a>.</p>

    <div class="center">
        <a class="btn btn-success register" href="https://www.meetup.com/rladies-johannesburg/events/268942020/" target="BLANK">Go to event page</a>
    </div>

</section>
