<!-- <section id="r_ladies_event">
    <h2> satRday R-Ladies lunch meetup</h2>

    <p><b>When: April 6, 12:15 - 13:15 </b></p>

    <p> Both satRday keynote speakers, Omayma Said and Danielle Navarro, are involved in R-Ladies. This is an international organisation that strives to promote gender diversity in the R community.</p>

    <p>This event, although primarily aimed at women, welcomes all who are interested as it will provide a great opportunity for all current and prospective R users to meet and chat with like-minded people.</p>

    <p> If you are interested in attending similar events in the future please get in contact with us via our <a href="https://www.meetup.com/rladies-johannesburg/"><i class="fab fa-meetup"></i></a> page or our <a href="https://twitter.com/RLadiesJozi"><i class="fab fa-twitter" aria-hidden="true"></i></a>.</p>

    <div class="alert alert-info" role="alert">
        Please note this meetup is only open to those attending satRday.
    </div>
</section> -->
