<section id="registration">
    <h2>Registration</h2>

    <h3 class="center">Workshop Pass</h3>

    <p>A workshop pass gives you access to one of the workshops held by our Keynote Speakers. These full-day workshops will be run in parallel on the <b>6<sup>th</sup> March 2020</b>.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Workshop Pass
                    <br/> (Early Bird R 1000.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1 Day Workshop</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register disabled" href="https://www.quicket.co.za/events/65453-satrday-johannesburg-2019/" target="BLANK" aria-disabled="true">Buy Workshop Pass</a>
    </div>

    <h3 class="center">Conference Pass</h3>

    <p>The Conference Pass gives you access to South Africa's fourth sat<b>R</b>day. Join us on the <b>7<sup>th</sup> March 2020</b> to meet with and hear from both local and international R enthusiasts!
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Conference Pass
                    <br/> (Early Bird R 200.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>All Conference Talks</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://qkt.io/satRdayjoburg2020" target="BLANK">Buy Conference Pass</a>
    </div>

    <small><a id="more_info">*</a> Early Bird tickets are available until 2020-01-26 (or until sold out). The standard price for Conference and Workshop passes will be R 500 and R 1500 respectively. No late or at the door registration available. </small>
</section>
