<section id="registration">
    <h2>Registration</h2>
    <p> Registraion hasn't started just yet. Subscribe to our mailer if you'd like to be kept in the loop regarding #sat<b>R</b>dayjoburg 2020 developments</p>

    <ul>
        <li> Early Bird price for Conference and Workshop passes will be R 200 and R 1000 respectively.</li>
        <!-- <li> Early Bird tickets on offer until <sup>rd</sup> February 2020 (or until sold out!).</li> -->
        <li> Standard price for Conference and Workshop passes will be R 500 and R 1500 respectively.</li>
        <li> No late or at the door registration available.</li>
    </ul>

    <!-- <h3 class="center">Workshop Pass</h3>

    <p>A workshop pass gives you access to one of the
        <a href="#workshops">workshops</a> held by our Keynote Speakers. These full day workshops will be run in parallel on the <b>6<sup>th</sup> March 2019</b>.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Workshop Pass
                    <br/> (Early Bird R 1000.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1 Day Workshop</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Free 1 month trial for DataCamp</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/65453-satrday-johannesburg-2019/" target="BLANK">Buy Workshop Pass</a>
    </div>

    <h3 class="center">Conference Pass</h3>

    <p>The Conference Pass gives you access to South Africa's third sat
        <b>R</b>day. Come and join us on the <b>7<sup>th</sup> March 2019</b> to meet with and hear from both local and international R enthusiasts!
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Conference Pass
                    <br/> (Early Bird R 200.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Morning Tutorials</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>All Conference Talks</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Free 1 month trial for DataCamp</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/65453-satrday-johannesburg-2019/" target="BLANK">Buy Conference Pass</a>
    </div> -->
</section>
