<section id="registration">
    <h2>Registration</h2>

    <h3 class="center">Workshop Pass</h3>

    <p>A workshop pass gives you access to one of the workshops. These full-day workshops will be run in parallel on the <b>6<sup>th</sup> March 2020</b> at <a href="https://www.google.com/maps/dir//PwC+midrand/@-26.0176133,28.0727421,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e95720152a10463:0x4e643f591999f9eb!2m2!1d28.1077615!2d-26.0176175"><b>PwC</b></a>.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Workshop Pass
                    <br/> (Early Bird R 1000.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1 Day Workshop</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://qkt.io/satRdayjoburg2020" target="BLANK">Buy Workshop Pass</a>
    </div>

    <h3 id="scholarshipApp" class="center">Scholarship Application</h3>

    <p>Thanks to funding from the R Consortium, we are able to offer a limited number of scholarships for women to attend the <b>R package development workshop</b> and the <b>satRday conference</b>. Scholarships are open to women living in South Africa or elsewhere in Africa with visa-free access to South Africa.</p>

    <div class="alert alert-info" role="alert">
        The deadline for applications is midnight (SAST) 2020-01-31.
    </div>

    <div class="center">
        <a class="btn btn-success register" href="https://rfoundation.limequery.com/917155/" target="BLANK">Apply now!</a>
    </div>

    <h3 class="center">Conference Pass</h3>

    <p>The Conference Pass gives you access to South Africa's fourth sat<b>R</b>day. Join us on the <b>7<sup>th</sup> March 2020</b> at, <a href="https://www.google.com/maps/dir//Discovery+head+office+johannesburg/@-27.9732281,27.2791756,7z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e957331f04032e3:0xba18e112e397d311!2m2!1d28.0530243!2d-26.1130397"> <b>Discovery Head Office</b></a>, to meet with and hear from both local and international R enthusiasts!
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Conference Pass
                    <br/> (Early Bird R 200.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>All Conference Talks</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://qkt.io/satRdayjoburg2020" target="BLANK">Buy Conference Pass</a>
    </div>

    <small><a id="more_info">*</a> Early Bird tickets are available until 2020-01-26 (or until sold out). The standard price for Conference and Workshop passes will be R 500 and R 1500 respectively. No late or at the door registration available. </small>
</section>
