<section id="speakers">
    <h2>Speakers</h2>

    <h4>Keynote Speakers</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/colin_fay.jpeg" />
                </div>
                <div class="keynote-name">
                    Colin Fay
                </div>
                <div class="keynote-position">
                    Data Scientist & R Hacker
                </div>

                <div class="speaker-affiliation">
                    ThinkR
                </div>

                <div class="speaker-social">
                    <a href="https://twitter.com/_ColinFay "><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/ColinFay "><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/colinfay"><i class="fab fa-linkedin-in"  aria-hidden="true"></i></a>
                    <a href="https://colinfay.me"><i class="fas fa-globe" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    <p>Colin helps companies to take full advantage of the power of R by providing training (from beginner to expert), tools (packages, web apps...) and infrastructure. His main areas of expertise are data & software engineering, web applications (frontend and backend) and R in production.</p>
                        
                    <p>Colin is a hyperactive open source developer and an open data advocate. He is very active in the Data Science community in France where he founded the data-blogging website Data-Bzh.fr, co-founded the Breizh Data Club association and organises the Breizh Data Club Meetups. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/heather_turner.png" />
                </div>
                <div class="keynote-name">
                    Heather Turner
                </div>
                <div class="keynote-position">
                    Freelancer
                </div>

                <div class="speaker-affiliation">
                    Statistical Programmer
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/HeathrTurnr"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/hturner"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://uk.linkedin.com/in/heathrturnr"><i class="fab fa-linkedin-in"  aria-hidden="true"></i></a>
                    <a href="https://www.heatherturner.net/"><i class="fas fa-globe" aria-hidden="true"></i></i></a>
                </div>
                <div class="speaker-bio">
                    <p>Heather provides support to people in a range of industries, but particularly the life sciences. She has been an R user since 2001 and is co-author of several CRAN packages, notably the statistical modelling packages <a href="https://github.com/hturner/gnm">gnm</a>, <a href="https://github.com/hturner/BradleyTerry2">BradleyTerry2</a> and <a href="https://hturner.github.io/PlackettLuce/">PlackettLuce</a>.</p>
                    <!-- <p>Heather, whom has a  PhD in Statistics, developed methods for biclustering microarray data; initiated collaboration with academic paediatrician at Imperial College investigating tuberculosis; published R code incorporated in the bicluster package.</p> -->
                    <p>Dr Turner is on the board of the R Foundation and chairs the Forwards taskforce for underrepresented groups in the R community. She is also a co-organizer of R-Ladies Remote.</p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="space">2020 Speakers</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/rob_bennetto.png" title="">
                </div>
                <div class="speaker-name">
                    Robert Bennetto
                </div>
                <div class="speaker-position">
                    CTO
                </div>
                <div class="speaker-affiliation">
                    Chalcid
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/TheCoolRob"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/TheZaRob"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="http://www.linkedin.com/in/robert-bennetto-za"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/bianca-peterson.jpg" title="">
                </div>
                <div class="speaker-name">
                    Bianca Peterson
                </div>
                <div class="speaker-position">
                    Director & Trainer
                </div>
                <div class="speaker-affiliation">
                    Conquest Analytics & Training
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/BinxiePeterson"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/BinxiePeterson"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/bianca-peterson-007b5b117/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/andrew-collier.jpg" title="">
                </div>
                <div class="speaker-name">
                    Andrew Collier
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Exegetic Analytics
                </div>
                <div class="speaker-social">
                    <a href="http://github.com/datawookie"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="http://twitter.com/datawookie"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="http://www.linkedin.com/in/datawookie"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a href="http://datawookie.netlify.com/blog/"><i class="fas fa-globe" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/cesaire-tobias.jpeg" title="">
                </div>
                <div class="speaker-name">
                    Cesaire Tobias
                </div>
                <div class="speaker-position">
                    Consultant
                </div>
                <div class="speaker-affiliation">
                    Fractal Value Advisors
                </div>
                <div class="speaker-social">
                    <a href="https://www.linkedin.com/in/cesaire-tobias-5555a274/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/hanjo-odendaal.jpg" title="">
                </div>
                <div class="speaker-name">
                    Hanjo Odendaal
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    71Point4
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/HanjoStudy"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/UbuntR314"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/nicolaasjohannes/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/megan-beckett.jpg" title="">
                </div>
                <div class="speaker-name">
                    Megan Beckett
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Exegetic Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/MeganBeckett"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/mbeckett_za"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/meganbeckett/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/ray-bosman.png" title="">
                </div>
                <div class="speaker-name">
                    Ray Bosman
                </div>
                <div class="speaker-position">
                    Senior BI Developer
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://www.linkedin.com/in/ray-bosman/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/diana-pholo.png" title="">
                </div>
                <div class="speaker-name">
                    Diana Pholo
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Predictive Insights
                </div>
                <div class="speaker-social">
                    <a href="https://www.linkedin.com/in/diana-pholo-76ba803b/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/francois-van-heerden.png" title="">
                </div>
                <div class="speaker-name">
                    Francois van Heerden
                </div>
                <div class="speaker-position">
                    Senior Analytics Researcher
                </div>
                <div class="speaker-affiliation">
                    Kantar
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/_______Francois"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/francois-van-heerden-0bb829168/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/gao-maribe.png" title="">
                </div>
                <div class="speaker-name">
                    Gao Maribe
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    DotModus
                </div>
                <div class="speaker-social">
                    <a href="http://github.com/atwgao"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/gao-maribe-phd-616b8733/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/natasha-sing.jpg" title="">
                </div>
                <div class="speaker-name">
                    Natasha Sing
                </div>
                <div class="speaker-position">
                    Senior Data Analyst
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/natasha108"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Natasha10814"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/natasha-sing-89b9a915/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/caroline-akoth.jpg" title="">
                </div>
                <div class="speaker-name">
                    Caroline Akoth
                </div>
                <div class="speaker-position">
                    Advocacy and Operations Lead
                </div>
                <div class="speaker-affiliation">
                    Women in GIS,Kenya (WiGISKE)
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/Akothcarole"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/hendrik-van-broekhuizen.png" title="">
                </div>
                <div class="speaker-name">
                    Hendrik van Broekhuizen
                </div>
                <div class="speaker-position">
                    Senior Data Scientist 
                </div>
                <div class="speaker-affiliation">
                    Predictive Insights
                </div>
                <div class="speaker-social">
                    <a href="https://gitlab.com/hendrikvanb"><i class="fab fa-gitlab" aria-hidden="true"></i></a>
                    <a href="https://www.twitter.com/hendrikvanb"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/hendrikvanb"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://stackoverflow.com/users/10144143/hendrikvanbroekhuizen"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/astrid-radermacher.jpg" title="">
                </div>
                <div class="speaker-name">
                    Astrid Radermacher
                </div>
                <div class="speaker-position">
                    Postdoctoral researcher
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/dataccino"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/place_holder.jpg" title="">
                </div>
                <div class="speaker-name">
                    Anisa Mathura
                </div>
                <div class="speaker-position">
                    Actuary, Business Strategist
                </div>
                <div class="speaker-affiliation">
                    Global Association of Risk Professionals
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/CyriopeKind"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/kirsty-lee-garson.jpeg" title="">
                </div>
                <div class="speaker-name">
                    Kirsty Lee Garson
                </div>
                <div class="speaker-position">
                    Intern
                </div>
                <div class="speaker-affiliation">
                    Exegetic Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/KirstyGarson"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/kirsty-lee-garson-895b8334"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/anelda-van-der-walt.jpg" title="">
                </div>
                <div class="speaker-name">
                    Anelda van der Walt
                </div>
                <div class="speaker-position">
                    Consultant & Trainer
                </div>
                <div class="speaker-affiliation">
                    Talarify
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/aneldavdw"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/aneldavanderwalt/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>
