<section id="speakers">
    <h2>Speakers</h2>

    <h4>Keynote Speakers</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/omayma.jpg"/>
                </div>
                <div class="keynote-name">
                    Omayma Said
                </div>
                <div class="keynote-position">
                    Data Scientist
                </div>

                <div class="speaker-affiliation">
                    Freelancer
                </div>
		
                <div class="speaker-social">
                    <a href="https://twitter.com/OmaymaS_"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/OmaymaS"><i class="fab fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    <p>Omayma is a data scientist with a background in electronics engineering and holds a master's degree in Systems Engineering and Engineering Management.</p>

                    <p>Prior to beecoming a freelancer, Omayma worked on developing algorithms and analyzing users data at a tech company which providies an online marketplace for jobs. She enjoys working in data-informed environments where data analysis can drive well-informed decisions, support building products, create value and help in improving the overall quality of research.</p>

                    <p>She shares her passion for all things data within the R-ladies community, where she has instructed hands-on workshops, as a DataCamp instructor as well as in her blog suitably titled<a href="https://www.onceupondata.com/"> "Once Upon Data"</a>.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/danielle.png"/>
                </div>
                <div class="keynote-name">
                    Danielle Navarro
                </div>
                <div class="keynote-position">
                    Computational Cognitive Scientist
                </div>

                <div class="speaker-affiliation">
                    University of New South Wales
                </div>
		
                <div class="speaker-social">
                    <a href="https://twitter.com/djnavarro"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/djnavarro"><i class="fab fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    <p></p>

                    <p>Danielle leads the Computational Cognitive Science lab, a research group that uses a mix of experimental methods and computational modelling techniques to explore how the human mind works. Her research focuses on human concept learning, reasoning and decision making.</p>

                    <p>Dani's self-titled <a href="https://djnavarro.net/"> blog</a> focuses on both her work as well as some of her other interests including; language and cultural evolution, cognitive development and statistical methods in the behavioural sciences.</p> 

                    <p>She is also one of the co-founders of R-Ladies Sydney.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <h4 class="space">2018 Speakers</h4> -->
    <!-- <div class="row">

          <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2018/place_holder.jpg" title="">
                </div>
                <div class="speaker-name">
                    
                </div>
                <div class="speaker-position">
                    
                </div>
                <div class="speaker-affiliation">
                    
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

                  <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2018/place_holder.jpg" title="">
                </div>
                <div class="speaker-name">
                    
                </div>
                <div class="speaker-position">
                    
                </div>
                <div class="speaker-affiliation">
                    
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

                  <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2018/place_holder.jpg" title="">
                </div>
                <div class="speaker-name">
                    
                </div>
                <div class="speaker-position">
                    
                </div>
                <div class="speaker-affiliation">
                    
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
 -->
