<section id="speakers">
    <h2>Speakers</h2>

    <h4>Keynote Speakers</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/colin_fay.jpeg" />
                </div>
                <div class="keynote-name">
                    Colin Fay
                </div>
                <div class="keynote-position">
                    Data Scientist & R Hacker
                </div>

                <div class="speaker-affiliation">
                    ThinkR
                </div>

                <div class="speaker-social">
                    <a href="https://twitter.com/_ColinFay "><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/ColinFay "><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/colinfay"><i class="fab fa-linkedin-in"  aria-hidden="true"></i></a>
                    <a href="https://colinfay.me"><i class="fas fa-globe" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    <p>Colin helps companies to take full advantage of the power of R by providing training (from beginner to expert), tools (packages, web apps...) and infrastructure. His main areas of expertise are data & software engineering, web applications (frontend and backend) and R in production.</p>
                        
                    <p>Colin is a hyperactive open source developer and an open data advocate. He is very active in the Data Science community in France where he founded the data-blogging website Data-Bzh.fr, co-founded the Breizh Data Club association and organises the Breizh Data Club Meetups. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/heather_turner.png" />
                </div>
                <div class="keynote-name">
                    Heather Turner
                </div>
                <div class="keynote-position">
                    Freelancer
                </div>

                <div class="speaker-affiliation">
                    Statistical Programmer
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/HeathrTurnr"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/hturner"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://uk.linkedin.com/in/heathrturnr"><i class="fab fa-linkedin-in"  aria-hidden="true"></i></a>
                    <a href="https://www.heatherturner.net/"><i class="fas fa-globe" aria-hidden="true"></i></i></a>
                </div>
                <div class="speaker-bio">
                    <p>Heather provides support to people in a range of industries, but particularly the life sciences. She has been an R user since 2001 and is co-author of several CRAN packages, notably the statistical modelling packages <a href="https://github.com/hturner/gnm">gnm</a>, <a href="https://github.com/hturner/BradleyTerry2">BradleyTerry2</a> and <a href="https://hturner.github.io/PlackettLuce/">PlackettLuce</a>.</p>
                    <!-- <p>Heather, whom has a  PhD in Statistics, developed methods for biclustering microarray data; initiated collaboration with academic paediatrician at Imperial College investigating tuberculosis; published R code incorporated in the bicluster package.</p> -->
                    <p>Dr Turner is on the board of the R Foundation and chairs the Forwards taskforce for underrepresented groups in the R community. She is also a co-organizer of R-Ladies Remote.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <h4 class="space">2019 Speakers</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2019/cesairetobias.jpeg" title="">
                </div>
                <div class="speaker-name">
                    Cesaire Tobias
                </div>
                <div class="speaker-position">
                    Consultant
                </div>
                <div class="speaker-affiliation">
                    Fractal Value Advisors
                </div>
                <div class="speaker-social">
                    <a href="https://www.linkedin.com/in/cesaire-tobias-5555a274/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2019/meganbeckett.jpg" title="">
                </div>
                <div class="speaker-name">
                    Megan Beckett
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Exegetic Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/MeganBeckett"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/mbeckett_za"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/meganbeckett/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/speakers-2019/amierohabrahams.JPG" title="">
                </div>
                <div class="speaker-name">
                    Amieroh Abrahams
                </div>
                <div class="speaker-position">
                    Masters Student
                </div>
                <div class="speaker-affiliation">
                    University of the Western Cape
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/AmierohAbrahams"><i class="fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/AbrahamsAmieroh"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div> -->
</section>
