<section id="venue">
    <h2>Venue</h2>

    <p>This year sat<b>R</b>day will be hosted at the prestigious <a href="https://www.google.com/maps/dir//Discovery+head+office+johannesburg/@-27.9732281,27.2791756,7z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e957331f04032e3:0xba18e112e397d311!2m2!1d28.0530243!2d-26.1130397"> Discovery Head Office</a> in Sandton. Situated in the hub of Johannesburg the venue boasts a 5-star Green Star SA rating by the GBCSA.
    </p>

    <div style="align-content: center;" class="row">
        <div class="col-sm-12">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="images/venue/discovery1.png" alt="Discovery HQ exterior">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery2.png" alt="Discovery HQ interior">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery3.png" alt="">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery4.png" alt="">
        </div>
    </div>
</section>
