<section id="venue">
    <h2>Venue</h2>

    <p>This year sat<b>R</b>day will be hosted at the prestigious <a href="https://www.google.com/maps/dir//Discovery+head+office+johannesburg/@-27.9732281,27.2791756,7z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e957331f04032e3:0xba18e112e397d311!2m2!1d28.0530243!2d-26.1130397"> Discovery Head Office</a> in Sandton. Situated in the hub of Johannesburg the venue boasts a 5-star Green Star SA rating by the GBCSA.
    </p>
    
    <div style="align-content: center;" class="row">
        <div class="col-sm-12">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="images/venue/Selection_619.png" alt="Discovery HQ exterior">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery-interior.jpg" alt="Discovery HQ interior">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery-interior3.jpg" alt="">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/venue/discovery-interior2.jpg" alt="">
        </div>
    </div>
    
<!--     <h3 class="center">Locations</h3>
    
    <div class="row">
    <div class="col-sm-5">

    <b>Building web applications with Shiny:</b>
    <p></p>

    <b>gganimate with a ggplot2 refresher:</b>
    <p></p>

    <b>satRday Conference:</b> 
    <p></p>
    </div>
    
    <div class="col-sm-7">

    <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=1%20Discovery%20Place%2C%20Sandhurst%2C%20Sandton%2C%202196&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{text-align:right;height:450px;width:450px;}.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:450px;}</style></div>
    </div>

    </div> -->
    
<!--     <div class="alert alert-info" role="alert">
      Attendees of the Friday workshops should take note of the below details regarding parking and directions to the workshop venues in the library. 
    </div> -->
    
<!--     <h4>PARKING (Workshop attendees only)</h4>
    <p>If you are not a UCT affiliate with a parking disc, you will need to get to UCT Upper Campus early (8am), and stop at the visitor’s centre (see above map) to get a visitor’s parking slip. Once received, you can drive the loop along the rugby field and up Madiba Circle, to find a visitor’s parking bay. The above map also shows where the library is situated and the red line indicates the direction you should enter from.</p>
    
    <h4>LIBRARY VENUE DIRECTIONS (Workshop attendees only)</h4>

    <p>Both workshop venues are situated in the UCT Main Library (Chancellor Oppenheimer Library). Entrance to the Library is through the first building directly to the right of Jameson Hall (if you are facing the Hall) at the top of the Jammie stairs (located at the centre of Upper Campus).</p>

    <p>If you are not a UCT affiliate, please tell security at the entrance to the library that you are attending an R workshop, and show them identification (ID/drivers license).</p>

    <p>Once you enter the turnstiles, <b>Ulwazi</b> is directly to your right (straight across the Vincent Kolbe Knowledge Commons).<p>

    <p><b>Hlanganani Junction</b> is two floors directly above the entrance. As you enter the turnstiles take the stairs to your left and continue ascending three small flights until you notice the purple sign overhead, indicating Hlanganani Junction to your right.</p> -->

    <h3 class="center">Travel</h3>
    
    <p>The Discovery building is within easy reach of various transport routes as well as a multitude of <a href="https://www.airbnb.com/s/Johannesburg--Gauteng--South-Africa/homes?refinement_paths%5B%5D=%2Fhomes&query=Johannesburg%2C%20Gauteng%2C%20South%20Africa&checkin=2019-04-04&checkout=2019-04-07&allow_override%5B%5D=&zoom=13&search_by_map=true&sw_lat=-26.184036702336172&sw_lng=27.931185066267258&ne_lat=-26.049464676704577&ne_lng=28.187520468400667&s_tag=9Fv66x7H">accommodation</a> options.</p>
    
<!--     <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14330.269220528957!2d28.0530243!3d-26.1130397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba18e112e397d311!2sDiscovery+Group+(Sandton+Head+Office)!5e0!3m2!1sen!2sza!4v1547471082600" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div> -->

</section>