<section id="venue">
    <h2>Venues</h2>

    <h3>Workshops</h3>
    <p>One of our new sponsors, <a href="https://www.google.com/maps/dir//PwC+midrand/@-26.0176133,28.0727421,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e95720152a10463:0x4e643f591999f9eb!2m2!1d28.1077615!2d-26.0176175"><b>PwC</b></a>, have graciously agreed to host this year's workshops at their offices in Midrand.</p>

    <h3>Conference</h3>
    <p>sat<b>R</b>day will once again be hosted at the prestigious, <a href="https://www.google.com/maps/dir//Discovery+head+office+johannesburg/@-27.9732281,27.2791756,7z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e957331f04032e3:0xba18e112e397d311!2m2!1d28.0530243!2d-26.1130397"> Discovery Head Office</a>, in Sandton. Situated in the hub of Johannesburg the venue boasts a 5-star Green Star SA rating by the GBCSA.
    </p>

    <div class="row">
      <div class="col-sm-6">
        
        <img src="images/venue/discovery1.png" alt="Discovery HQ exterior">
      </div>
      <div class="col-sm-6">
        
        <img src="images/venue/discovery2.jpg" alt="Discovery HQ interior">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <br/>
        <img src="images/venue/discovery3.jpg" alt="Discovery reception area">
      </div>
      <div class="col-sm-6">
        <br/>
        <img src="images/venue/discovery4.png" alt="Atrium inside Discovery HQ">
      </div>
    </div>

</section>
