<section id="workshops">
    <!-- <h2>Workshops</h2> -->
<!--     <p>The sat<b>R</b>day Cape Town conference kicked off on the 
    16<sup>th</sup> of March 2018 with a day of workshops held by our Keynote 
    Speakers. Note that these were full day workshops and took place in 
    parallel, so you had to choose between them!</p>
    
    <small>(*) Workshops available to training pass holders only.</small>

    <h3 class="center">Title</h3>
    <h5 class="center">Sub-title</h5>
    <h4>Facilitator</h4>

    <p>Description</p>
    
    <p>Workshop outline:</p>
    <ul>
      <li>Workshop outcome 1</li>
    </ul>

    <p>
      <b>What attendees should bring.</b>
    </p> -->

<!--     <h3 class="center">Data Carpentry Workshop for R novices</h3> -->
<!-- <p><a href="https://www.datacarpentry.org">Data Carpentry</a> workshops teach 
    introductory computational skills needed for data management and analysis in 
    all domains of research. -->

    <!-- For more information on syllabus and requirements 
    please visit the <a href="https://katrintirok.github.io/2018-03-15-satRday/">
    workshop webpage</a>.</p> -->

<!--     <p>Registration for this workshop is separate from sat<b>R</b>day. </p> -->
<!--  Note the workshop is sold out.     -->
    
<!--     <table class="table-buttons"><tr>
    <td><a class="btn btn-primary register" href="https://katrintirok.github.io/2018-03-15-satRday/" target="BLANK">More Info</a><td> -->   
    </tr></table>
    
</section>
