<section id="workshops">
    <h2>Workshops</h2>
    <p>sat<b>R</b>day Johannesburg will kick off on the 5<sup>th</sup> of April 2019 with a day of workshops instructed by our Keynote speakers. Note that these will be full day workshops and take place in 
    parallel, so you had to choose between them - decisions decisions! </p>
    
    <small>(*) Workshops available to training pass holders only.</small>

    <h3 class="center">Building web applications with Shiny</h3>
    <h5 class="center">Sub-title</h5>
    <h4>Omayma Said</h4>

    <p>This beginners/intermediate workshop will focus on... We'll assume you are familiar with the basics of R</p>
    
    <p>Here is what we'll learn:</p>
    <ul>
      <li>Workshop outcome 1</li>
      <li>Workshop outcome 2</li>
      <li>Workshop outcome 3</li>
    </ul>

<!--     <p>
      <b>Attendees should bring...</b>
    </p> -->

    <h3 class="center">Data visualisation in R, from ggplot2 to gganimate</h3>
<!--     <h5 class="center">Sub-title</h5> -->
    <h4>Danielle Navarro</h4>

    <p>This hands on workshop will provide an introduction to data visualisation in R. The core of the workshop will focus on creating clean data visualisations with ggplot2, and turning them into animations with gganimate. The workshop is aimed at a beginner to intermediate level. Some prior familiarity with tidyverse (dplyr, ggplot2) would be helpful but not assumed, as the workshop will include a refresher / quick tutorial for beginners.
</p>
    <p>Topics covered will include:</p>
    <ul>
      <li>Building and customising plots with ggplot2</li>
      <li>Understanding how ggplots are structured</li>
      <li>Building animated plots with gganimate</li>
      <li>Links between human vision and data visualisation </li>
      <li>Interactive plots with ggplotly</li>
      <li>Under the hood: graphics devices, grid graphics, etc</li>
    </ul>

<!--     <p>
      <b>Attendees should bring...</b>
    </p>
 -->


<!--     <h3 class="center">Data Carpentry Workshop for R novices</h3> -->
<!-- <p><a href="https://www.datacarpentry.org">Data Carpentry</a> workshops teach 
    introductory computational skills needed for data management and analysis in 
    all domains of research. -->

    <!-- For more information on syllabus and requirements 
    please visit the <a href="https://katrintirok.github.io/2018-03-15-satRday/">
    workshop webpage</a>.</p> -->

<!--     <p>Registration for this workshop is separate from sat<b>R</b>day. </p> -->
<!--  Note the workshop is sold out.     -->
    
<!--     <table class="table-buttons"><tr>
    <td><a class="btn btn-primary register" href="https://katrintirok.github.io/2018-03-15-satRday/" target="BLANK">More Info</a><td> -->   
    </tr></table>
    
</section>
