<!-- <section id="workshops">
    <h2>Workshops</h2>
    <p>sat<b>R</b>day Johannesburg will kick off on the 6<sup>th</sup> of March 2020 with a day of workshops instructed by our Keynote speakers. Note that these will be full day workshops and take place in parallel, so you have to choose between them - decisions decisions! </p>

    <small>(*) Workshops available to training pass holders only.</small>

    <h3 class="center">Title</h3>
    <h5 class="center">Sub-title</h5>
    <h4>Name of speaker</h4>

    <p>Intro</p>

    <p>By the end of the tutorial, you will:</p>
    <ul>
        <li>Objective 1</li>
    </ul>

    <p>Prerequisites: ...</p>

    <p><b>Attendees should bring...</b></p>

    <h3 class="center">Data Carpentry Workshop for R novices</h3>
    <p><a href="https://www.datacarpentry.org">Data Carpentry</a> workshops teach introductory computational skills needed for data management and analysis in all domains of research. For tickets and more information on the syllabus please visit the <a href="https://binxiepeterson.github.io/2019-04-03-satRday-jhb/">
    workshop webpage</a>.</p>

    <p><strong>Registration for this workshop is separate from sat<b>R</b>day.</strong></p>

</section> -->
